body {
    background-color: #F5F5F5;
}

.my-cursor-click{
    cursor: pointer;
}

.my-color-orange
{
    color:#C6522F;
}

.my-background-color-grey {
    background-color: #F5F5F5;
}

.my-background-color-orange {
    background-color: #C6522F;
}