<div class="container-fluid">
    <div class="row" id="top">
        <h1 class="text-white mb-3">{{colocation?.name}}</h1>
    </div>

    <div class="row my-background-color-orange">
        <div class="col-3 d-none d-md-block"></div>
        <div class="col-12 col-md-6 "> 
            <div class="card card-top m-2">
                <div class="card-body">
                    <input class="form-control" type="month"  id="example-month-input" value="{{clDate}}" (change)="onChangeEvent($event)">
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-3 pt-1" id="top">

        <div class="col-6 col-md-4"> 
            <div class="card card-top m-2">
                <div class="card-body">
                    <div class="container-fluid p-0">
                    <div class="row my-cursor-click">
                        <div class="col-12 pr-0">
                            <h6 class="t5 text-center my-color-orange mb-0">Mes dépenses</h6>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <div class="col-12 text-center">
                            <h6 class="t2">{{mapTotalSpendByUser.get(idUser) ? mapTotalSpendByUser.get(idUser) : 0}} €</h6>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 *ngIf="(mapTotalSpendByUser.get(idUser) - avgDepenseAllUsers) > 0" class="t6 text-success"> +{{mapTotalSpendByUser.get(idUser) - avgDepenseAllUsers}} € de la moyenne</h6>
                            <h6 *ngIf="!!avgDepenseAllUsers && (mapTotalSpendByUser.get(idUser) - avgDepenseAllUsers) < 0" class="t6 text-danger">{{mapTotalSpendByUser.get(idUser) - avgDepenseAllUsers }} € de la moyenne</h6>
                            <h6 *ngIf="(mapTotalSpendByUser.get(idUser) - avgDepenseAllUsers) === 0" class="t6 text-success">Vous êtes quitte</h6>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 d-none d-md-block"> 
            <div class="card card-top m-2">
            <div class="card-body">
                <div class="container-fluid p-0">
                <div class="row my-cursor-click">
                    <div class="col-12 pr-0">
                        <h6 class="t5 text-center my-color-orange mb-0">Dépense moyenne</h6>
                    </div>
                    <!-- <div class="col-2 px-0 sort-down-div dropdown">
                        <img src="../../assets/icons/sort-down.png" class="sort-down dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <li><button class="dropdown-item" type="button">Aujourd'hui</button></li>
                              <li><button class="dropdown-item" type="button">Dépense totale</button></li>
                            </ul>
                    </div> -->
                </div>
                <div class="row mt-2">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h6 class="t2 text-center">{{avgDepenseAllUsers}} €</h6>
                    </div>
                    <div class="col-2"></div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-4 col-6"> 
            <div class="card card-top m-2">
                <div class="card-body">
                    <div class="container-fluid p-0">
                    <div class="row my-cursor-click">
                        <div class="col-12 pr-0">
                            <h6 class="t5 text-center my-color-orange mb-0">Dépense totale</h6>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <h6 class="t2 text-center">{{totalDepenseAllUsers}} €</h6>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div> 

    <div class="row">      
        <div class="col-sm-6 mt-4">
             <app-spend-list [colocation]="colocation" [mapDateSpend]="mapDateSpend">
             </app-spend-list>
        </div>
        <div class="col-sm-6 mt-4">
          <app-colocation-total-spend-per-roommate [colocation]="colocation" [mapTotalSpendByUser]="mapTotalSpendByUser" [avgDepenseAllUsers]="avgDepenseAllUsers" [totalDepenseAllUsers]="totalDepenseAllUsers">
          </app-colocation-total-spend-per-roommate>
        </div>        
    </div>

</div>

